.container_footer {
    background-color: rgb(0, 0, 0);
    width: 97vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    box-shadow: 0 5px 15px black;
    border-radius: 5px;
    padding: 20px;
    flex-direction: column;
}
 
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    max-width: 900px;
    margin: auto;
    font-size: 13px;

  }
  
  .school-info {
    text-align: left;
    max-width: 400px;
  }
  
  .social-media {
    text-align: right;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #333;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    background: #4CAF50;
  }
  
  .school-info {
    text-align: left;
    max-width: 400px;
  }
  
  .school-info h3 {
    margin-bottom: 0px; 
  }
  
  .school-info p {
    margin: 0px 0; 
  }
  
  .footer-bottom p{
    margin-top: 10px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.main{
    display: flex;
    justify-content: center;
    width: 100vw;
}