.container_header{
    background-color: #ffffff;
    width: 97vw;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(216, 215, 215);

    .nav_bar{
        width: 100%;
        background-color: #E30613;
        text-align: center;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            background-color: #E30613;
            height: 35px;
            display: flex;
            justify-content: center;
            text-align: center;
            

        }
    }
}

.nav_bar{
    display: flex;
    width: 40%;
    height: 40px;
    justify-content:end ;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    
    h3{
        color: white;
    }
}

.nav_bar h3:hover{
    text-decoration: underline;
}

span{
    /* <div className="nav_bar"><h3>senai</h3></div> */
    color: black;
    padding: 15px;
    
}

.body_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

@media (max-width: 950px){
    .body_header{
        width: 80%;
    }
}

@media (min-width: 951px){
    .body_header{
        width: 800px;
    }
}

.title{
    width: 40%;
    background-color: transparent;
    color: black;

    h1{
        background-color: #ffffff;
    }
}

.exit{
    display: flex;
    color: #E30613;
    width: 70px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}