body{
    background-color: #E6E6E6;
}
.container_home {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* top: 50%;  */
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    padding: 20px;
}

.campos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.icons{
    display: flex;
    flex-direction: row;
}

.col1{
    /* background-color: aqua; */
    width: 25px;

}
.col2{
    /* background-color: rgb(209, 197, 37); */
    width: 25px;
}
.col3{
    /* background-color: aqua; */
    width: 35px;
}
.col4{
    /* background-color: rgb(209, 197, 37); */
    width: 60px;
}
.col5{
    /* background-color: aqua; */
    width: 200px;
}
.col6{
    /* background-color: rgb(209, 197, 37); */
    width: 200px;
}
.col7{
    /* background-color: aqua; */
    width: 150px;
}

.col8{
    /* background-color: rgb(209, 197, 37); */
    width: 25px;
}

.footer_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 143, 143);
    width: 95%;
    height: 50px;
    border-radius: 10px;
}

.btn1{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(25, 155, 155);
    margin-left: 10px;
}
.btn2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: azure;
    margin-right: 10px;
}

.id input{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.nome input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}